#essay-display {
    margin-top: 50px;
}

.index-essay-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: darkred;
    font-weight: bold;
}

.index-essay {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
}

.tab {
    margin-left: 50px;
}

#inst-video {
    width: 100%;
    height: 100%;
}

.instructions-page {
    background-color: black;

}

.modal-backdrop {
    background-color: black;
    opacity: 75%;
}

/* .modal-body {

} */